
<%= form_for @creature do |c| %>
	<span>Name: </span>
	<%= c.text_field :name, required: true %><br>
	<span>Description: </span>
	<%= c.text_field :description, required: true %><br>
	<%= c.submit %>
<% end %>